# Ignore folders
data/raw-data/
archive/

# Byte-compiled / optimized / DLL files
__pycache__/

# ignore .bat file
add-path.bat

# ignore xplog file
data/datalogs.csv

# Ignore png files
*.png
*.jpeg
*.jpg

# Ignore pdf files
*.pdf

# Ignore mac file
.DS_Store