# Ignore folders
archive/

# Byte-compiled / optimized / DLL files
__pycache__/

# ignore .bat file
add-path.bat

# ignore log files
data/datalogs.csv
*.log

# Ignore png files
*.png
*.jpeg
*.jpg

# Ignore pdf files
*.pdf

# Ignore mac file
.DS_Store