# Ignore folders
archive/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
backup/

# ignore .bat file
add-path.bat

# ignore log files
data/datalogs.csv
# *.log

# ignore data files
*.csv
!metadata.csv

# Ignore png files
*.png
*.jpeg
*.jpg

# Ignore pdf files
*.pdf

# Ignore mac file
.DS_Store

# VSCode profile settings
.vscode/